#passiveIndexationCheckEmailsList {
	margin-top: 5px;
}
#passiveIndexationCheckEmailsList a span.dashicons {
	color: #d9534f;
}
a#passiveIndexationCheckAddEmail span {
	line-height: 1.5; 
	color: #000;
}